{%extends "basic.html"%}

{%block title%}О приложении{%endblock%}

{%block body%}
    <div class="container">
        <div class="alert alert-success">
            <ul>
                <li><font size="5">Версия: </font>1.0</li>
                <li><font size="5">Предназначение: </font>Шифроватор сообщений в Азбуку Морзе с функцией сохранения сообщений</li>
                <li><font size="5">Репозиторий разработчика: </font><a href="https://github.com/coder6497/MorseCoder">My GITHUB</a></li>
                <li><font size="5">Мой ВК: </font><a href="https://vk.com/gonshik.nelegalniy">LINK</a></li>
            </ul>
        </div>
    </div>
{%endblock%}