{%extends "basic.html"%}

{%block title%}Авторизация{%endblock%}

{%block body%}
    <div class="container">
        <h2>Авторизация</h2>
        <div class="alert alert-danger">
            <form action="" method="post">
                {{form.csrf_token()}}
                {{form.username.label()}}<br>
                {{form.username(class="form-control")}}<br>
                {{form.password.label()}}<br>
                {{form.password(class="form-control")}}<br>
                {{form.remember()}}{{form.remember.label()}}<br>
                {{form.submit(class="btn btn-success")}}
            </form>
        </div>
    </div>
{%endblock%}