{%extends "basic.html"%}

{%block title%}Регистрация{%endblock%}

{%block body%}
    <div class="container">
        <h2>Регистрация</h2>
        <form action="" method="post">
            {{form.csrf_token()}}
            {{form.username.label()}}<br>
            {{form.username()}}<br>
            {{form.email.label()}}<br>
            {{form.email()}}<br>
            {{form.password.label()}}<br>
            {{form.password()}}<br>
            {{form.repeat_password.label()}}<br>
            {{form.repeat_password()}}<br><br>
            {{form.submit()}}
        </form>
    </div>
{%endblock%}