{%extends "basic.html"%}

{%block title%}Регистрация{%endblock%}

{%block body%}
    <div class="container">
        <h2>Регистрация</h2>
        <div class="alert alert-warning">
            <form action="" method="post">
                {{form.csrf_token()}}
                {{form.username.label()}}<br>
                {{form.username(class="form-control")}}<br>
                {{form.email.label()}}<br>
                {{form.email(class="form-control")}}<br>
                {{form.phone.label()}}<br>
                {{form.phone(class="form-control")}}<br>
                {{form.password.label()}}<br>
                {{form.password(class="form-control")}}<br>
                {{form.repeat_password.label()}}<br>
                {{form.repeat_password(class="form-control")}}<br><br>
                {{form.submit(class="btn btn-success")}}
            </form>
        </div>
    </div>
{%endblock%}